body{padding: 5em;
background-color: #e2dbcc;}

h1{text-align: center;
color:#b90193;
font-family: 'Ultra', serif;
font-size: 55px;
text-decoration: none;}
h2{text-align: center;
color:#645730;
font-family: 'Rubik Mono One', sans-serif;
font-size: 40px;
text-decoration: none;}
h3{text-align: center;
color:#db5882;
font-family: 'Solway', serif;
text-decoration: none;}
h4{text-align: center;
color:#7647ad;
font-family: 'Rubik Mono One', sans-serif;
font-size: 30px;
text-decoration: none;}

p{width:750px;
color:#5265c6;
font-family: 'Solway', serif;}
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: rgb(200,200,200);}

/* {
/*     box-sizing: border-box; */
}
body {
    background: #3206FF;
    background: linear-gradient(45deg, #90ac9e, #e2dbcc);
    min-height: 100vh;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 600px;
    position: relative; 
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

img{
    width: 100%;
}
/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

